n8n-job-boards/01 - Job Search Workflow.json
{
  "name": "01 - Job Search Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        416
      ],
      "id": "34b0eeac-b71f-4466-8031-6c6b197c880b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        592
      ],
      "id": "635cd79c-33cc-41b2-95a7-fdfcc40b46a7",
      "name": "Loop Over Posts1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cf7f2cb-bc9e-49c9-93b4-6e3a63da6a32",
              "name": "Existing",
              "value": "={{ $('Process JD Search Result').item.json.ExistingFound ? $json.Existing + 1 : $json.Existing }}",
              "type": "number"
            },
            {
              "id": "af7b1f54-5dce-4be0-a97b-15a31ff94c49",
              "name": "Adds",
              "value": "={{ $('Process JD Search Result').item.json.NewAdded ? $json.Adds + 1 : $json.Adds }}",
              "type": "number"
            },
            {
              "id": "6e83a6cb-817e-4a62-a27c-2b47e8b98874",
              "name": "InputTokens",
              "value": "={{ $('Process JD Search Result').item.json.InputTokensUsed > 0 ? $json.InputTokens + $('Process JD Search Result').item.json.InputTokensUsed : $json.InputTokens }}",
              "type": "number"
            },
            {
              "id": "acba6faa-2e84-4c75-adf8-1bc3c168f574",
              "name": "OutputTokens",
              "value": "={{ $('Process JD Search Result').item.json.OutputTokensUsed > 0 ? $json.OutputTokens + $('Process JD Search Result').item.json.OutputTokensUsed : $json.OutputTokens }}",
              "type": "number"
            },
            {
              "id": "607d8e54-e592-4932-a760-f8cb8200be44",
              "name": "NewRoles-Relevant",
              "value": "={{ ($('Process JD Search Result').item.json.NewAdded && $('Process JD Search Result').item.json.Relevant) ? $json['NewRoles-Relevant'] + \"<li>\" + $('Process JD Search Result').item.json.AddedPosting + \"</li>\" : $json['NewRoles-Relevant'] }}",
              "type": "string"
            },
            {
              "id": "3293aac1-7a2e-4a4f-9fc7-f12f0ada45b4",
              "name": "NewRoles-Ignore",
              "value": "={{ ($('Process JD Search Result').item.json.NewAdded && !$('Process JD Search Result').item.json.Relevant) ? $json['NewRoles-Ignore'] + \"<li>\" + $('Process JD Search Result').item.json.AddedPosting + \"</li>\" : $json['NewRoles-Ignore'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        672
      ],
      "id": "ee92e5e8-f233-4235-8fae-d7537a0820e5",
      "name": "TallyExecutions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cf7f2cb-bc9e-49c9-93b4-6e3a63da6a32",
              "name": "Existing",
              "value": "={{ ($('TallyExecutions').isExecuted) ? $('TallyExecutions').first().json.Existing : 0 }}",
              "type": "number"
            },
            {
              "id": "af7b1f54-5dce-4be0-a97b-15a31ff94c49",
              "name": "Adds",
              "value": "={{ ($('TallyExecutions').isExecuted) ? $('TallyExecutions').first().json.Adds : 0 }}",
              "type": "number"
            },
            {
              "id": "6e83a6cb-817e-4a62-a27c-2b47e8b98874",
              "name": "InputTokens",
              "value": "={{ ($('TallyExecutions').isExecuted) ? $('TallyExecutions').first().json.InputTokens : 0 }}",
              "type": "number"
            },
            {
              "id": "acba6faa-2e84-4c75-adf8-1bc3c168f574",
              "name": "OutputTokens",
              "value": "={{ ($('TallyExecutions').isExecuted) ? $('TallyExecutions').first().json.OutputTokens : 0 }}",
              "type": "number"
            },
            {
              "id": "607d8e54-e592-4932-a760-f8cb8200be44",
              "name": "NewRoles-Relevant",
              "value": "={{ ($('TallyExecutions').isExecuted) ? $('TallyExecutions').first().json['NewRoles-Relevant'] : \"\" }}",
              "type": "string"
            },
            {
              "id": "a6674d97-86bc-4e77-9fa0-895a9f5b901b",
              "name": "NewRoles-Ignore",
              "value": "={{ ($('TallyExecutions').isExecuted) ? $('TallyExecutions').first().json['NewRoles-Ignore'] : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        672
      ],
      "id": "27f8310d-1590-4de3-bc02-799aa611bd87",
      "name": "SyncStats"
    },
    {
      "parameters": {
        "sendTo": "address@email.com",
        "subject": "=[n8n] - Job search agent results - {{ $('TallyExecutions').first().json.Adds }} new jobs processed",
        "message": "=We successfully ran the job agent using your Job Search Agent:\n<ul>\n<li> {{ $('TallyExecutions').first().json.Existing + $('TallyExecutions').first().json.Adds}} total web results found via web searches\n<li> {{ $('TallyExecutions').first().json.Adds }} new results added; {{ $('TallyExecutions').first().json.Existing }} existing results skipped\n</ul>\n\n{{ $('TallyExecutions').first().json['NewRoles-Relevant'].length > 5 ? \"<p>New Relevant Job Postings Found:<ul>\" + $('TallyExecutions').first().json['NewRoles-Relevant'] + \"</ul>\" : \"\" }}\n\n{{ $('TallyExecutions').first().json['NewRoles-Ignore'].length > 5 ? \"<p>Other Job Postings Found:<ul>\" + $('TallyExecutions').first().json['NewRoles-Ignore'] + \"</ul>\" : \"\" }}\n\n<p>Your Claude token consumption for today's search: \n<ul>\n<li>{{ $('TallyExecutions').first().json.InputTokens }} input tokens\n<li>{{ $('TallyExecutions').first().json.OutputTokens }} output tokens\n</ul>\n\n<p>Cheers and happy hunting!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        496
      ],
      "id": "09b61145-fdb1-436f-987d-3b376bfcef70",
      "name": "Send a message",
      "webhookId": "998aba5d-979d-4715-b851-65e6be1b3354",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "idNumber",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        672
      ],
      "id": "316e480a-d0c0-4f97-9e46-489b42deba50",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -592,
        560
      ],
      "id": "5e2db03b-1bea-4da3-8d97-39a40fc9d91a",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWcaAppBDSlB0Aq",
          "mode": "list",
          "cachedResultName": "Job Hunt Tracker",
          "cachedResultUrl": "https://airtable.com/idNumber"
        },
        "table": {
          "__rl": true,
          "value": "tblXbtBdAIYomsskH",
          "mode": "list",
          "cachedResultName": "Applications",
          "cachedResultUrl": "https://airtable.com/idNumber"
        },
        "options": {
          "fields": [
            "Job Description Link",
            "Normalized URL",
            "Company"
          ],
          "view": {
            "__rl": true,
            "value": "viwbNxIvWaMRXqLsa",
            "mode": "list",
            "cachedResultName": "RetrievedApps",
            "cachedResultUrl": "https://airtable.com/idNumber"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        1168
      ],
      "id": "40d187b6-a57e-45b2-b000-fa07f9469841",
      "name": "Retrieve Records",
      "credentials": {
        "airtableTokenApi": {
          "id": "idNumber",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "link",
              "field2": "job_description_link"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -112,
        384
      ],
      "id": "d9650dc6-9a7c-4126-b370-2fd3d0e7702e",
      "name": "Filter Prior Google JDs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "job_description_link",
              "field2": "url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -112,
        720
      ],
      "id": "8a29200e-d0e1-4ee6-852b-1f0f3b8f51cd",
      "name": "Filter Prior Brave JDs",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        592
      ],
      "id": "ccf45312-d636-44ec-b2ed-daa640f32504",
      "name": "Merge JDs"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "link",
              "field2": "normalized_url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        496
      ],
      "id": "4fa8b2ca-6ee0-4a28-8b33-40599afc3c72",
      "name": "Filter Prior Google JDs1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vlBHF9gQarpVFiAW",
          "mode": "list",
          "cachedResultUrl": "/workflow/vlBHF9gQarpVFiAW",
          "cachedResultName": "Sub WF- Retrieve Google Results"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "noop"
          ],
          "schema": [
            {
              "id": "noop",
              "displayName": "noop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -416,
        368
      ],
      "id": "d12ebb3b-a1ba-4dd3-a505-d0cf5e476b9e",
      "name": "Retrieve Google Results"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "normalized_url",
              "field2": "url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        672
      ],
      "id": "c9f4600a-9557-4944-9dda-606fdd6d3db5",
      "name": "Filter Prior Brave JDs1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dKUB9CouRHXP59Vi",
          "mode": "list",
          "cachedResultUrl": "/workflow/dKUB9CouRHXP59Vi",
          "cachedResultName": "02b - Sub WF - Retrieve Brave Results"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "noop",
              "displayName": "noop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -416,
        736
      ],
      "id": "75f0a9fc-b877-4f43-b8e7-e6727eb798fb",
      "name": "Retrieve Brave Results",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "applications",
          "mode": "list",
          "cachedResultName": "applications"
        },
        "returnAll": true,
        "options": {
          "outputColumns": [
            "job_description_link",
            "normalized_url"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        560
      ],
      "id": "a5d709af-cb96-4528-bca3-2817cbe4ea5b",
      "name": "Retrieve Prior JDs",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "idNumber",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nkMxxECtkSA7OT6w",
          "mode": "list",
          "cachedResultUrl": "/workflow/nkMxxECtkSA7OT6w",
          "cachedResultName": "04 - Sub WF - Process JD Search Result"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $input.item.json.hasField('link') ? $json.link : $input.item.json.hasField('url') ? $json.url : \"unknown\" }}",
            "pageTitle": "={{ $input.item.json.hasField('title') ? $json.title :  \"unknown\" }}",
            "pageDescr": "={{ $input.item.json.hasField('snippet') ? $json.snippet : $input.item.json.hasField('description') ? $json.description : \"unknown\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pageTitle",
              "displayName": "pageTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pageDescr",
              "displayName": "pageDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        672
      ],
      "id": "9efe49c2-ca16-4fd9-90df-c081eeec51d5",
      "name": "Process JD Search Result",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Posts1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process JD Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TallyExecutions": {
      "main": [
        [
          {
            "node": "Loop Over Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SyncStats": {
      "main": [
        [
          {
            "node": "TallyExecutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Retrieve Google Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve Prior JDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve Brave Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Records": {
      "main": [
        []
      ]
    },
    "Filter Prior Google JDs": {
      "main": [
        [
          {
            "node": "Filter Prior Google JDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Prior Brave JDs": {
      "main": [
        [
          {
            "node": "Filter Prior Brave JDs1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge JDs": {
      "main": [
        [
          {
            "node": "Loop Over Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Prior Google JDs1": {
      "main": [
        [
          {
            "node": "Merge JDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Google Results": {
      "main": [
        [
          {
            "node": "Filter Prior Google JDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Prior Brave JDs1": {
      "main": [
        [
          {
            "node": "Merge JDs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Retrieve Brave Results": {
      "main": [
        [
          {
            "node": "Filter Prior Brave JDs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Retrieve Prior JDs": {
      "main": [
        [
          {
            "node": "Filter Prior Google JDs1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Filter Prior Brave JDs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Prior Brave JDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Prior Google JDs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Process JD Search Result": {
      "main": [
        [
          {
            "node": "SyncStats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1696812f-5628-4808-b795-87167afe7bd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bae1fab76f5b3d7d761d2213eecaaf39f2590bd0b5cd104d1482f6fd0bab96b"
  },
  "id": "d09Niag8aIJQrnbA",
  "tags": []
}